body {
    background: #f3f1ff;
}
.navbar img {
    width: 40px;
}

.navbar-nav a {
    margin-left: 10px;
}

main .container{
    background: #fff;
}

.top-player {
    margin-top: 40px;
    padding: 40px 10px 25px 20px;
}

.top-player h2 {
    margin-bottom: 50px;
}

.top-player .row {
    margin-bottom: 20px;
}

/* .player p {
   display: inline-block;
   margin-left: 15px;
} */

.player {
    margin-top: 30px;
}

.player img {
    width: 56px;
    /* margin-right: 20px; */
}

.blog {
    margin: 20px 0px;
    padding-left: 20px;
}

.blog-content {
    padding-left: 20px;
}

.blog-content a {
    padding-left: 5px;
    text-decoration: none;
}

.footer-courses {
    margin-top: 30px;
    background-color: #fff;
    padding-left: 30px;
}

.course-f-content {
    margin-top: 20px;
}

.column-courses {
    padding-left: 20px;
}